## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [37]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [ ]:
male_count = data[data['sex'] == 'Male'].shape[0]
female_count = data[data['sex'] == 'Female'].shape[0]

male_count, female_count

(21790, 10771)

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [39]:
avg_male_age = data[data['sex'] == 'Male']['age'].mean()
round(avg_male_age, 0)

np.float64(39.0)

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [18]:
all_citizens = data.shape[0]
us_citizens = data[data['native-country'] == 'United-States'].shape[0]

us_part = us_citizens / all_citizens

round(us_part, 3)

0.896

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [23]:
income_above_50k = data[data['salary'] == '>50K']
income_above_50k_age_mean = income_above_50k['age'].mean()
income_above_50k_age_std = income_above_50k['age'].std()
income_below_50k = data[data['salary'] == '<=50K']
income_below_50k_age_mean = income_below_50k['age'].mean()
income_below_50k_age_std = income_below_50k['age'].std()

income_above_50k_age_mean, income_above_50k_age_std, income_below_50k_age_mean, income_below_50k_age_std

(np.float64(44.24984058155847),
 np.float64(10.519027719851826),
 np.float64(36.78373786407767),
 np.float64(14.02008849082488))

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [28]:
higher_education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']

not_educated_workers_with_income_above_50k = income_above_50k[~income_above_50k['education'].isin(higher_education)]

result = not_educated_workers_with_income_above_50k.empty 
result

False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [36]:
stats_by_race_and_sex = data.groupby(['race', 'sex'])['age'].describe()
stats_by_race_and_sex.loc[('Asian-Pac-Islander', 'Male'), 'max']

np.float64(90.0)

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [ ]:
male_data = data[data['sex'] == 'Male']

married_mask = male_data['marital-status'].str.startswith('Married')
married_men = male_data[married_mask]
single_men = male_data[~married_mask]

income_above_50k_married_men = (married_men['salary'] == '>50K').sum()
income_above_50k_single_men = (single_men['salary'] == '>50K').sum()

married_count = len(married_men)
single_count = len(single_men)

married_income_above_50k_part = (income_above_50k_married_men / married_count) * 100
single_income_above_50k_part = (income_above_50k_single_men / single_count) * 100

married_income_above_50k_part, single_income_above_50k_part

(np.float64(44.05139945351156), np.float64(8.449509031397746))

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [51]:
max_hours_per_week = data['hours-per-week'].max()
amount_of_max_hours_workers = len(data[data['hours-per-week'] == max_hours_per_week])
income_above_50k_max_hours_workers = len(data[(data['hours-per-week'] == max_hours_per_week) & (data['salary'] == '>50K')])

income_above_50k_max_hours_workers_percent = income_above_50k_max_hours_workers / amount_of_max_hours_workers

max_hours_per_week, amount_of_max_hours_workers, income_above_50k_max_hours_workers_percent

(np.int64(99), 85, 0.29411764705882354)

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [56]:
result = data.groupby(['native-country', 'salary'])['hours-per-week'].mean().unstack() # unstack for division into columns by salary
result

salary                          <=50K       >50K
native-country
?                           40.164760  45.547945
Cambodia                    41.416667  40.000000
Canada                      37.914634  45.641026
China                       37.381818  38.900000
Columbia                    38.684211  50.000000
Cuba                        37.985714  42.440000
Dominican-Republic          42.338235  47.000000
Ecuador                     38.041667  48.750000
El-Salvador                 36.030928  45.000000
England                     40.483333  44.533333
France                      41.058824  50.750000
Germany                     39.139785  44.977273
Greece                      41.809524  50.625000
Guatemala                   39.360656  36.666667
Haiti                       36.325000  42.750000
Holand-Netherlands          40.000000        NaN
Honduras                    34.333333  60.000000
Hong                        39.142857  45.000000
Hungary                     31.300000  50.000000
India                       38.233333  46.475000
Iran                        41.440000  47.500000
Ireland                     40.947368  48.000000
Italy                       39.625000  45.400000
Jamaica                     38.239437  41.100000
Japan                       41.000000  47.958333
Laos                        40.375000  40.000000
Mexico                      40.003279  46.575758
Nicaragua                   36.093750  37.500000
Outlying-US(Guam-USVI-etc)  41.857143        NaN
Peru                        35.068966  40.000000
Philippines                 38.065693  43.032787
Poland                      38.166667  39.000000
Portugal                    41.939394  41.500000
Puerto-Rico                 38.470588  39.416667
Scotland                    39.444444  46.666667
South                       40.156250  51.437500
Taiwan                      33.774194  46.800000
Thailand                    42.866667  58.333333
Trinadad&Tobago             37.058824  40.000000
United-States               38.799127  45.505369
Vietnam                     37.193548  39.200000
Yugoslavia                  41.600000  49.500000

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [64]:
bins = [16, 35, 70, 100]  # 16-35, 35-70, 70-100
labels = ['young', 'adult', 'retiree']

# Создаем колонку AgeGroup
data['AgeGroup'] = pd.cut(
    data['age'],
    bins=bins,
    labels=labels,
    right=False
)

data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeGroup
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [ ]:
income_above_50k_by_age = data[data['salary'] == '>50K'].groupby('AgeGroup').size()
most_income_above_50k_by_group = income_above_50k_by_age.idxmax()
income_above_50k_by_age, most_income_above_50k_by_group

# didn't undrstood why there is a warning

/var/folders/w6/8t5_71212y9137lch7csrdlw0000gn/T/ipykernel_9641/878975244.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  income_above_50k_by_age = data[data['salary'] == '>50K'].groupby('AgeGroup').size()

(AgeGroup
 young      1488
 adult      6240
 retiree     113
 dtype: int64,
 'adult')

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [66]:
occupation_counts = data['occupation'].value_counts().reset_index()
print(occupation_counts)

           occupation  count
0      Prof-specialty   4140
1        Craft-repair   4099
2     Exec-managerial   4066
3        Adm-clerical   3770
4               Sales   3650
5       Other-service   3295
6   Machine-op-inspct   2002
7                   ?   1843
8    Transport-moving   1597
9   Handlers-cleaners   1370
10    Farming-fishing    994
11       Tech-support    928
12    Protective-serv    649
13    Priv-house-serv    149
14       Armed-Forces      9

In [67]:
def filter_func(group):
    mean_age_condition = group['age'].mean() <= 40
    all_work_more_than_5h = (group['hours-per-week'] > 5).all()
    return mean_age_condition & all_work_more_than_5h

filtered_groups = data.groupby('occupation').filter(filter_func)
valid_occupations = filtered_groups['occupation'].unique()
valid_occupations

array(['Armed-Forces'], dtype=object)